JWT_SECRET=
BCRYPT_SALT=
MONGODB_URI=
GOOGLE_ID=
GOOGLE_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL='URL to redirect (localhost in dev, server url in prod)'
SENDGRID_API_KEY=
SENDER_MAIL_ACC='Mail acc to send the register and reset password emails'
SENDGRID_SUBSCRIPTION_MAIL_TEMPLATE_ID='Template ID for the subscription mailing'
RECEIVER_MAIL_ACC='Mail acc to receive the contact form email' 
APP_BASE_URL_DEV='Base URL for dev mode (localhost)'
APP_BASE_URL_PROD='Base URL for prod mode'