@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: 142.1 76.2% 36.3%;
  --primary-dark: 142.1 70.6% 45.3%;
}

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar {
  border-radius: 10px;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: var(--primary-light);
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 120, 92%, 35%;
    --success-foreground: 0 0% 100%;
    --warning: 36, 100%, 50%;
    --warning-foreground: 0 0% 100%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: var(--primary-dark);
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --success: 120, 60%, 25%;
    --success-foreground: 0, 0%, 87%;
    --warning: 36, 100%, 30%;
    --warning-foreground: 0 0% 87%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}

.filepond--credits {
  display: none;
}

.file-wrapper {
  opacity: 0;
  transition: opacity 1s 0.25s;
}

.file-wrapper .filepond--panel-root {
  background-color: transparent;
  border: 2px solid hsl(var(--primary-light));
}

.file-wrapper:hover .filepond--panel-root {
  border-color: hsl(var(--primary-dark));
}

.file-wrapper .filepond--drop-label {
  color: #7e7e7e;
}

.file-wrapper .filepond--file {
  background-color: hsl(var(--primary-light));
}

/* Override background color when processing is complete */
.file-wrapper [data-filepond-item-state="processing-complete"] .filepond--file {
  background-color: rgb(54, 151, 99);
}

/* Override background color when there is an error */
.file-wrapper [data-filepond-item-state="processing-error"] .filepond--file {
  background-color: rgb(196, 78, 71);
}
